body {
    background-color: #e9f0f0;
    font-size: 500%;
    flex-wrap: wrap;
    font-size: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo {
    
    font-family:Georgia, 'Times New Roman', Times, serif
    display: flex;
    align-items: center;
    text-align: center;
    color: blue;
    
}

.navbar {
background-color: rgb(203, 203, 10);
overflow: hidden; /* contenido se oculte*/
display: flex;
justify-content: space-around; /* espaciado uniforme*/
padding: 1em;
height: 40px;
align-items: center;

}

.navbar a{
color: rgb(23, 24, 24);
text-decoration: none;
padding: 1s;

}
.navbar a:hover { /* cuando se pasa por encima en los elementos*/
    border-radius: 200 px;
    background-color: #ccc;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}




.flex-container {
    display: flex;
    padding: 30px;
    background-color: rgb(234, 234, 247);
    border: 1px solid #ccc;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
   
    gap: 20%;
}

.PAU {
background-color: beige;
font-family: 'Times New Roman', Times, serif;
width: 500px;
height: 500px;
text-align: center;
margin-bottom: 30px;
font-size: 50px;

}

.PAU img {
    width: 100%;
}


.BC {
background-color: blueviolet;
font-family: 'Times New Roman', Times, serif;
width: 500px;
height: 500px;
text-align: center;
margin-bottom: 30px;
font-size: 50px;

}

.BC img{
    width: 500px;
}


.R {
background-color: yellowgreen;
font-family: 'Times New Roman', Times, serif;
width: 500px;
height: 500px;
text-align: center;
margin-bottom: 30px;
font-size: 50px;

}

.R img{
    width: 350px;
}

.PA {
background-color: brown;
font-family: 'Times New Roman', Times, serif;
width: 500px;
height: 500px;
text-align: center;
margin-bottom: 30px;
font-size: 50px;

}

.PA img {
    width: 500px;
}


.L{
background-color: rgb(241, 110, 173);
font-family: 'Times New Roman', Times, serif;
width: 500px;
height: 500px;
text-align: center;
margin-bottom: 30px;
font-size: 50px;

}

.L img {
    width: 330px;
}


.B {
background-color: rgb(202, 49, 49);
font-family: 'Times New Roman', Times, serif;
width: 500px;
height: 500px;
text-align: center;
margin-bottom: 30px;
font-size: 50px;

}

p {
margin-bottom: 30px;
}

.B img {
    width: 500px;
    
}

.footer {
    
    background-color: grey;
    color: aliceblue;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px
    
}